@page "/about"
@rendermode InteractiveServer
@inject Microsoft.Extensions.Localization.IStringLocalizer<AboutUs> L
<div>
    <div>
        <h1>@L["Title"]</h1>

        <p>@L["Introduction"]</p>

        <p>@L["Initiative"]</p>

        <p> @L["Aim"]</p>
        
        <p> @L["ClosingThoughts"]</p>

    </div>

    <hr />

    <div>
        <img src="./Branding3.png" class="rounded" alt="John Pork" width="300" height="300">
        <img src="./JohnBeun.png" class="rounded" alt="John Beun" width="300" height="300">
    </div>
    
    <br />
    
</div>