@page "/about"
@rendermode InteractiveServer
@inject Microsoft.Extensions.Localization.IStringLocalizer<AboutUs> L

<h1>@L["Title"]</h1>

<p>@L["Intro"]</p>

<p>@L["FocusIntro"]</p>

<p>@L["FocusGoal"]</p>

<p>@L["Belief"]</p>

<img src="./Branding3.png" alt="John Pork" />