@page "/weather"
@using TrashBoard.Models
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject TrashBoard.Services.IWeatherService WeatherService

<button class="btn btn-primary" @onclick="GetWeather">Get Weather for Now</button>

@if (weather != null)
{
    <p>Timestamp: @weather.Timestamp °C</p>
    <p>Temp: @weather.Temp °C</p>
    <p>Humidity: @weather.Humidity %</p>
    <p>Wind: @weather.Windforce m/s</p>
    <p>Precip: @weather.Precipitation mm</p>
}

@code {
    private WeatherData? weather;

    private async Task GetWeather()
    {
        weather = await WeatherService.GetWeatherForTimestampAsync(DateTime.UtcNow);
    }
}
